*{
    box-sizing: border-box;
}

.container{
    max-width: 600px;
    margin: 0 auto;
}

.todo-item{
    width: 200px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}